body{
    font-family: Arial Narrow, sans-serif;
}

#background{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

section1{
  display: flex;
  display: inline-block;
  justify-content: center;
  padding: 5px;
}

.perso1{
  display: inline-block;
  padding: 5px;
  font-size: 2.5em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
}

.perso2{
  display: inline-block;
  padding: 5px;
  font-size: 2.5em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
}

.perso3{
  display: inline-block;
  padding: 5px;
  font-size: 2.5em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
}

.perso4{
  display: inline-block;
  padding: 5px;
  font-size: 2.5em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
}

section2{
  display: inline-block;
  justify-content: center;
  position: absolute;
  top: 13px;
  left: 1675px;
  padding: 5px;
}

.parametres{
  display: flex;
  padding: 5px;
  font-size: 2.5em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
}

section3{
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.menu{
  display: inline-block;
  padding: 5px;
  font-size: 2em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
}

.actions{
  display: inline-block;
  padding: 5px;
  font-size: 2.5em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
}

.imagemonstre{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: 250px;
  left: 100px;
}

.statsmonstres{
  padding: 5px;
  font-size: 2.5em;
  background-color: #122676;
  border: 3mm ridge rgba(100, 100, 100, .8);
  visibility: hidden;
  width: 125px;
  height: 100px;
}

.infobulle1{
  display: flex;
  position: relative;
  top: 290px;
  left: 475px;
}

.infobulle2{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 160px;
  left: 965px; 
}

.infobulle3{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
  left: 1455px; 
}